/*Variables*/
:root{
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;

    --special: #663d15;
}

/*Global*/
body {
    min-width: 960px;

    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;

    background-color: var(--basic-black);
    background-image: url(../img/squoosh/main-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input{
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);
    width: 100%;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active), 
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}



/* grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Buttons */

.button {
    display: inline-block;

    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;

    background-color: var(--basic-black);
    border: none;

    margin-right: 16px;
    padding: 10px 30px;
}

.button:hover,
.button:active,
.button:focus {
    background-color: var(--special);
}

.button:disabled,
.button.disabled {
    cursor: default;
    opacity: 0,5;
    background-color: var(--basic-dark);
}

/* Navigation */ 

.main-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    color: var(--basic-white);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    
}
.main-nav-wrapper {
    background-color: var(--basic-black);
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 620px;
    
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
}
.site-navigation li{
    list-style-type: none;
}

.site-navigation-curent a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);

    display: block;

    padding: 25px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover, 
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}

.user-navigation {
    max-width: 140px;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

.gallery-container::before {
    content: '';

    position: absolute;
    left: 70px;
    width: 16px;
    height: 18px;
    background-image: url('/desctop/img/arrow-right-to-bracket-solid-white.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-logo {
    order: 2;
}

/* Features */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features-list {
    list-style-type: none;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
    position: relative;
    margin: 0;
    margin-bottom: 60px;
}

.features-item h3::after {
    background-color: var(--basic-white);

    content: '';

    position: absolute;

    width: 20px;
    height: 20px;
    left: 50%;
    bottom: -30px;
    margin-left: -10px;

    transform: rotate(45deg);
}

.features-item p {
    margin: 0 10px;
}

/* Index Sections*/

.index-sections {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url(../img/Layer\ 17\ copy\ 2.png), url(../img/phon.jpg) ;
    background-repeat: no-repeat, repeat;
    background-position: center, 0 0;

    display: flex;
    justify-content: space-between;

    padding: 54px 80px;
    margin-bottom: 35px;
}

.index-sections h2 {
    font-size: 30px;
    line-height: 40px;

    margin: 0;
    margin-bottom: 25px;
}

.news {
    width: 380px;
}

.news-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.gallery-container {
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);
    height: 164px;
    margin: 0;
    margin-bottom: 38px;
    width: 286px;
}

.gallery-container a {
    margin: 0;
    padding: 0;
}
.gallery-container img {
    width: 286px;
    height: 164px;
}

.gallery {
    width: 300px;
}

.gallery-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery-button {
    box-sizing: border-box;
    width: 140px;
    margin: 0;
}


/* Contacts */

.contacts {
    width: 380px;
}

.contacts p{
    margin: 0;
    margin-bottom: 25px;
}

/* Appointment */

.appointment {
    width: 300px;
}

.appointment button {
    margin-top: 10px;
    margin-right: 0;
}

.appointment-info {
    margin: 0;
    margin-bottom: 25px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    margin: 0;
    margin-bottom: 10px;

    width: 140px;
}

.appointment-item label {
    display: block;
    margin-bottom: 13px;
    margin-left: 13px;
}

.appointment-item input:focus {
    border-color: var(--special);
}

.form-button {
    width: 100%;
}

/* Footer */

.main-footer {
    background-color: var(--basic-extra-dark);
    background-image: url(../img/black-phon.jpg);

    padding: 60px 0 60px 0;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 

.main-footer a {
    color: var(--basic-white);
}
.main-footer li {
    list-style-type: none;
}

.footer-adress {
    margin: 0;
    width: 320px;
}
.footer-adress a {
    text-decoration: underline;
}
.footer-adress a:hover,
.footer-adress a:focus {
    text-decoration: none;
}

.footer-social{
    width: 300px;
}

.footer-social p{
    text-align: center;
}

.footer-social ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-social-item {
    margin-right: 5px;
}


.footer-social h2 {
    font-size: 14px;
}
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: 43px;
    height: 43px;
    background-color: var(--basic-black);
}

.social-button:hover, 
.social-button:focus {
    background-color: var(--basic-white);
}

.social-button:hover path, 
.social-button:focus path {
    fill: var(--basic-black);
}


.footer-copyright {
    width: 220px;
    justify-self: end;
    text-align: end;
    margin: 0;
}

.footer-copyright b {
    margin-right: 30px;
}

.button-copyright{
    margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background-color: var(--basic-extra-light);
    color: var(--basic-black);
    background-image: url(../img/phon.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-close {
    position: absolute;
    border: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    top: 0;
    right: -34px;
    background-color: transparent;
}

.modal-close::after,
.modal-close::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: var(--basic-dark);
}

.modal-close::after {
    rotate: 45deg;
}

.modal-close::before {
    rotate: -45deg;
}

.modal-login {
    display: none;

    top: 120px;
    width: 300px;
    bottom: auto;
    padding: 50px 80px;
}

.modal-login h2 {
    font-size: 32px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 20px;
}

.modal-login p {
    margin: 0;
    margin-bottom: 15px;
}

.login-form input[type="email"], 
.login-form input[type="password"] {
    font: inherit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}
.login-form input:focus {
    border-color: var(--special);
}

.login-icon-user {
    background-image: url(../img/user.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}
.login-icon-password {
    background-image: url(../img/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-password-info {
    display: flex;
}

.checkbox-indicator {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--basic-black);
    margin-right: 12px;
}

.login-button {
    width: 100%;
    margin: 0;
}

.modal-map {
    display: none;
    padding: 5px;
    top: 5%;
    width: 780px;
    bottom: auto;
}

.modal-map iframe {
    display: block;
    margin: 0 auto;
    border: none;
}

/* Restore */

.restore {
    color: var(--basic-black);
    text-decoration: underline;
    justify-self: end;
}
.restore:hover, 
.restore:focus {
    text-decoration: none;
}